@use 'sass:math';
@import '../layer-0-functions/functions_mediaQueries';


$logo_img: (
	"xs": 50px,
	"sm": 55px,
	"md": 60px,
	"lg": 65px,
	"xl": 70px,
	"xxl": 75px
);

$title_font_size: (
	"xs": 10px,
	"sm": 12px,
	"md": 14px,
	"lg": 16px,
	"xl": 18px,
	"xxl": 20px
);

$links_font_size: (
	"xs": 8px,
	"sm": 10px,
	"md": 12px,
	"lg": 14px,
	"xl": 16px,
	"xxl": 18px
);

$socialMedia_img: (
	"xs": 25px,
	"sm": 30px,
	"md": 35px,
	"lg": 40px,
	"xl": 45px,
	"xxl": 50px
);


$breakpoints: (
    "xs": 0px,
    "sm": 1000px,
    "md": 1280px,
    "lg": 1536px,
    "xl": 1920px,
    "xxl": 2100px,
);


$nav-bg-color: #FAA916;

$nav-title-font: "Kalam", serif;
$nav-title-font-color: black;


$nav-links-font: "Kalam", serif;
$nav-links-font-color: black;

$nav-links-font-color_hover: #31d3e9;


$nav_logo_img_width: map-get($logo_img, /**/ "xxl" /**/);
$nav_logo_img_height: map-get($logo_img, /**/ "xxl" /**/);

$nav_title_font_size: map_get($title_font_size, /**/ "xxl" /**/);
$nav_links_font_size: map-get($links_font_size, /**/ "xxl" /**/);

$nav_socialMedia_img_width: map-get($socialMedia_img, /**/ "xxl" /**/);
$nav_socialMedia_img_height: map-get($socialMedia_img, /**/ "xxl" /**/);