@import './variables/about_variables';

body{
    background-color: $page-bg-color;
}

/*--------------------------------------------------------------------------*/

.container{
    display: grid;
	grid-template-rows: 10% 90%;

    margin-top: 2%;
	height: 90%;

    background-color: $container-bg-color;
	border: 3px solid $container-border-color;
}
/*--------------------------------------------------------------------------*/

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/*--------------------------------------------------------------------------*/

.profile{
    background-color: $profile-bg-color;
}
.profile-image{
    text-align: center;
}
.profile-name{
    text-align: center;

    font-family: $profile-name-font;
    color: $profile-name-font-color;
    font-size: 2.5em;
}
.profile-body{
    text-align: center;

    font-family: $profile-body-font;
    color: $profile-body-font-color;
    font-size: 1em;
}
.profile-table-title{
    text-align: center;

    font-family: $profile-table-title-font;
    color: $profile-table-title-font-color;
    font-size: 2.5em;

    
}
.profile-table{ 
    table{
        font-family: $profile-table-font;
        color: $profile-table-font-color;
        font-size: 1em;
    }
}
/*--------------------------------------------------------------------------*/

.categories{
	display: grid;
	grid-template-columns: repeat(4, 1fr);

    background-color: $categories-bg-color;
}
.category{
    margin: 2em;
}
.category-image{
    text-align: center;

    img{
        width: 250px;
        height: 150px;
    }
}

.category-title{
    text-align: center;

    font-family: $category-title-font;
    color: $category-title-font-color;
    font-size: 1em;
}
.category-item-label{
    margin-top: 20px;
    text-align: center;
    
    font-family: $caterory-item-label-font;
    color: $category-item-label-font-color;
    font-size:  1em;
}