<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Denk+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Salsa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=MuseoModerno">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kalam">

    <% switch(page_title) {  case "Home":%>
        <link rel="stylesheet" type="text/css" href="./css/index.css"> 
    <% break;  case "About": %>
        <link rel="stylesheet" type="text/css" href="./css/about.css">
    <% break;  case "Portfolio": %>
        <link rel="stylesheet" type="text/css" href="./css/portfolio.css">
    <% break;  } %>

    <link rel="icon" type="image/x-icon" href="../assets/img_logos/favicon.ico">
    <title><%= page_title %></title>

</head>