<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Denk+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Salsa">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=MuseoModerno">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Julius+Sans+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kalam">



    <link rel="stylesheet" type="text/css" media="(max-width: 999px)" href="./css/nav_mobile.css">
    <link rel="stylesheet" type="text/css" media="(min-width: 1000px)" href="./css/nav_desktop.css">
    
    <% switch(page_title) {  case "Home":%>
        <link rel="stylesheet" type="text/css" media="(max-width: 999px)" href="./css/index_mobile.css">
        <link rel="stylesheet" type="text/css" media="(min-width: 1000px)" href="./css/index_desktop.css">
        
    <% break;  case "About": %>
        <link rel="stylesheet" type="text/css" media="(max-width: 999px)" href="./css/about_mobile.css">
        <link rel="stylesheet" type="text/css" media="(min-width: 1000px)" href="./css/about_desktop.css">
    <% break;  case "Portfolio": %>
        <link rel="stylesheet" type="text/css" media="(max-width: 999px)" href="./css/portfolio_mobile.css">
        <link rel="stylesheet" type="text/css" media="(min-width: 1000px)" href="./css/portfolio_desktop.css">
    <% break;  } %>




    <link rel="icon" type="image/x-icon" href="../assets/img_logos/favicon.ico">
    <title><%= page_title %></title>



</head>