<head>
    <% switch(page_title) {  case "Home":%>
        <link rel="stylesheet" type="text/css" media="(max-width: 999px)" href="./CSS/index_iphone.css">
        <link rel="stylesheet" type="text/css" media="(min-width: 1000px)" href="./CSS/index.css">
    <% break;  case "About": %>
        <link rel="stylesheet" type="text/css" media="(max-width: 999px)" href="./CSS/about_iphone.css">
        <link rel="stylesheet" type="text/css" media="(min-width: 1000px)" href="./CSS/about.css">
    <% break;  case "Portfolio": %>
        <link rel="stylesheet" type="text/css" media="(max-width: 999px)" href="./CSS/portfolio_iphone.css">
        <link rel="stylesheet" type="text/css" media="(min-width: 1000px)" href="./CSS/portfolio.css">
    <% break;  case "Web Development": %>
        <link rel="stylesheet" type="text/css" media="(max-width: 999px)" href="./CSS/web_iphone.css">
        <link rel="stylesheet" type="text/css" media="(min-width: 1000px)" href="./CSS/web.css">
    <% break;  } %>
    
    <!-- <link rel="stylesheet" type="text/css" href="./CSS/testing_tools_pageScaling.css"> -->


    <link rel="stylesheet" type="text/css" media="(max-width: 999px)" href="./CSS/nav_iphone.css">
    <link rel="stylesheet" type="text/css" media="(min-width: 1000px)" href="./CSS/nav.css">
    <link rel="icon" type="image/x-icon" href="../Assets/favicon.ico">
    <title><%= page_title %></title>
</head>