<div class='nav'>
    <div style="width: 300px;display: grid;grid-template-columns: repeat(3,1fr);">
        <div class="nav-image"><img src="../assets/img_logos/image - logo - gas mask.png"></div>
        <div class="nav-header"><h2><%= page_title %></h2></div>
        <div class="nav-list">
            <ul>
                <li><div><a href='/'>Home</a></div></li>
                <li><div><a href='/about'>About</a></div></li>
                <li><div><a href='/portfolio'>Portfolio</a></div></li>
            </ul>
        </div>
    </div>
</div>