<head>
    <link rel="stylesheet" type="text/css" href="./css/style_body.css">
    <link rel="stylesheet" type="text/css" href="./css/style_partial_navbar.css">
    
    <% switch(page_title) {  case "Home":%>
        <link rel="stylesheet" type="text/css" href="./css/style_page_index.css"> 
    <% break;  case "Prompt": %>
        <link rel="stylesheet" type="text/css" href="./css/style_page_prompt.css">
    <% break;  } %>

    <link rel="icon" type="image/x-icon" href="../assets/img_logos/favicon.ico">
    <title><%= page_title %></title>

</head>