<div class="container_navbar">
    <div class="container_navbar_logo">
        <img class="navbar_logo_img" src="../assets/img_logos/image-logo-gas_mask.png">
    </div>
    <div class="container_navbar_navigation">
        <a class="navbar_navigation_link" href='/'>Home</a>
        <a class="navbar_navigation_link" href='/prompt'>Prompts</a>
    </div>
    <div class="container_navbar_socialmedia">
        <a class="navbar_socialmedial_link" href="https://github.com/defineace"><img src="../assets/img_logos/image-logo-github.png"></a>
        <a class="navbar_socialmedial_link" href="https://linkedin.com/in/leandro-r-357b55135"><img src="../assets/img_logos/image-logo-linkedin.png"></a>
    </div>
</div>