$nav-bg-color: #FAA916;

$nav-title-font: "Kalam", serif;
$nav-title-font-color: black;


$nav-links-font: "Kalam", serif;
$nav-links-font-color: black;

$nav-links-font-color_hover: rgba(49, 211, 233);