<html>
<%- include("./partials/partial_head.ejs") %>
<body>
	<%- include("./partials/partial_navbar.ejs") %>
	<div class="section">
		<div class="section_title">
			<h1>Expierence</h1>
		</div>
		<div class="section_body">
			<table>
				<tr>
					<th>Company</th>
					<th>Job Type</th>
					<th>Date</th>
					<th>Job Title</th>
					<th>Job Description</th>
				</tr>
				<tr>
					<td>Cabling Solutions</td>
					<td>Full Time Employee</td>
					<td>2021 - 2022</td>
					<td>Low Voltage Technician</td>
					<td>Structured Cabling, Video, Alarm</td>
				</tr>
				<tr>
					<td>Apple</td>
					<td>Full Time Employee</td>
					<td>2019 - 2021</td>
					<td>Apple Data Center Site Services Lead</td>
					<td>Data Center Site Services,Front End Developement Prototyping</td>
				</tr>
				<tr>
					<td>Elite Cable Systems</td>
					<td>Full Time Employee</td>
					<td>2018 – 2019</td>
					<td>Apple Data Center Site Services and Low Voltage Technician</td>
					<td>Data Center Site Services and Structured Cabling</td>
				</tr>
				<tr>
					<td>TekSystems</td>
					<td>Full Time Employee</td>
					<td>2016 - 2017</td>
					<td>Apple Data Center Site Services Lead</td>
					<td>Data Center Site Services, Software Prototyping</td>
				</tr>
				<tr>
					<td>Great Basin Communications</td>
					<td>Part Time Contractor</td>
					<td>2014 - 2015</td>
					<td>Low Voltage Technician</td>
					<td>Structured Cabling</td>
				</tr>
				<tr>
					<td>Crexendo</td>
					<td>Part Time Contractor</td>
					<td>2014</td>
					<td>Low Voltage Technician</td>
					<td>Structured Cabling and Onsite Troubleshoot</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>