<html>
	<%- include("./partials/head.ejs") %>
    <body>
		<div class="container">
			<%- include("./partials/nav.ejs") %>

            <div class="container-profile" id="goo">
				<div>
					<canvas id="_gameboard"></canvas>
					<script src="../js/canvas_script.js"></script>
				</div>
				<div class="profile-name"><h2>Leandro Rico</h2></div>
				<div class="profile-body">
					<p>
						With 5+ years of IT expierence in leading projects at large scale datacenters, 
						meeting pressured deadlines, and working in high security environments.
						<br>I enjoy creating, learning, solving problems,and working hard.
					</p>
				</div>
				<div class="profile-table-header"><h3>Experience</h3></div>
				<div class="profile-table">
					<table>
						<tr>
							<th>Company</th>
							<th>Job Type</th>
							<th>Date</th>
							<th>Job Title</th>
							<th>Job Description</th>
						</tr>
						<tr>
							<td>Cabling Solutions</td>
							<td>Full Time Employee</td>
							<td>August,2021 - April,2022</td>
							<td>Low Voltage Technician</td>
							<td>Structured Cabling, Video, Alarm</td>
						</tr>
						<tr>
							<td>Apple</td>
							<td>Full Time Employee</td>
							<td>December,2019 - April,2021</td>
							<td>Apple Data Center Site Services Lead</td>
							<td>Data Center Site Services,Front End Developement Prototyping</td>
						</tr>
						<tr>
							<td>Elite Cable Systems</td>
							<td>Full Time Employee</td>
							<td>December,2018 – November,2019</td>
							<td>Apple Data Center Site Services and Low Voltage Technician</td>
							<td>Data Center Site Services and Structured Cabling</td>
						</tr>
						<tr>
							<td>TekSystems</td>
							<td>Full Time Employee</td>
							<td>March,2016 - November,2017</td>
							<td>Apple Data Center Site Services Lead</td>
							<td>Data Center Site Services, Software Prototyping</td>
						</tr>
						<tr>
							<td>Great Basin Communications</td>
							<td>Part Time Contractor</td>
							<td>2014-2015</td>
							<td>Low Voltage Technician</td>
							<td>Structured Cabling</td>
						</tr>
						<tr>
							<td>Crexendo</td>
							<td>Part Time Sub Contractor</td>
							<td>2014</td>
							<td>Low Voltage Technician</td>
							<td>Structured Cabling and Onsite Troubleshoot</td>
						</tr>
					</table>
				</div>
			</div>

            <div class="container-category">
				<div class='category'>
					<div class="category-image"><img src='../assets/img_about/image -  b_roll - skills 1.png' alt=""></div>
					<div class="category-header"><h2>Skills</h2></div>
					<div class="category-list" id="section_1"></div>
				</div>
				<div class='category'>
					<div class="category-image"><img src='../assets/img_about/image -  b_roll - it cable 1.png' alt=""></div>
					<div class="category-header"><h2>Hardware</h2></div>
					<div class="category-list" id="section_2"></div>
				</div>
				<div class='category'>
					<div class="category-image"><img src='../assets/img_about/image -  b_roll - scripting - 1.png' alt=""></div>
					<div class="category-header"><h2>Scripting Languages</h2></div>
					<div class="category-list" id="section_3"></div>
				</div>
				<div class='category'>
					<div class="category-image"><img src='../assets/img_about/image -  b_roll - software 1.png' alt=""></div>
					<div class="category-header"><h2>Software</h2></div>
					<div class="category-list" id="section_4"></div>
				</div>
			</div>
        </div>
		<script src="./js/about_script.js"></script>
    </body>
</html>