<html>
<%- include("./partials/partial_head.ejs") %>
<body>
	<%- include("./partials/partial_navbar.ejs") %>

	<div class="section_title">
		<h1>Leandro Rico<span id="cursor">_</span></h1>
	</div>
	<script>
		var cursor = document.getElementById("cursor");
		var blink = true;

		var blinking = function(){
			if(blink){
				blink = false;
				cursor.style.visibility = 'visible';
			}else{
				blink = true;
				cursor.style.visibility = 'hidden';
			}
		};

		window.setInterval(blinking, 500);
		
	</script>

	<div class="section_header">
		<p>
			Information Technology 
			&#x2022; Leading projects 
			&#x2022; Meeting Pressured Deadlines
			&#x2022; Being Creative 
			&#x2022; Solving Problems
		</p>
	</div>

	<div id="section_game" class="section_body"><canvas id="gameboard"></canvas></div>
	<script src="../js/script_game.js"></script>
</body>
</html>