<html>
<%- include("./partials/partial_head.ejs") %>
<body>
	<%- include("./partials/partial_navbar.ejs") %>

	<div class="section">
		<div class="section_title">
			<h1>Leandro Rico</h1>
		</div>
		<div class="section_body">
			<p>
				With many years of IT expierence
				<br>Leading projects at large scale datacenters, meeting pressured deadlines, and working in high security environments.
				<br>My new career goals is strive for a more creative element.
			</p>
		</div>
	</div>
	<div  class="section">
		<div id="section_game" class="section_body"><canvas id="gameboard"></canvas></div>
		<script src="../js/script-game.js"></script>
	</div>
</body>
</html>