<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <div class="container">
            <%- include("./partials/nav.ejs") %>
            <div class="content">
                <div class="album" id="album">
                    <div class="album-image"><img src="../assets/img_index/image - network area logos - 500x500.png"></div>
                    <div class="album-image"><img src="../assets/img_index/image - web developement logos - 500x500.png"></div>
                    <div class="album-image"><img src="../assets/img_index/image - biography - 500x500.png"></div>
                    <div class="album-image"><img src="../assets/img_index/image - software logos - 500x500.png"></div>
                    <div class="album-image"><img src="../assets/img_index/image - os logos - 500x500.png"></div>
                </div>

                <div class="slideshow">
                    <div class="slideshow-image">
                        <img id="slideshow" class="slideshow-img" src="../assets/img_index/image - biography - 500x500.png">
                    </div>
                </div>

                <div class="project">
                    <div class="project-page">
                        <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                    </div>
                    <div class="project-page">
                        <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                    </div>
                    <div class="project-page">
                        <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                    </div>
                    <div class="project-page">
                        <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                    </div>
                    <div class="project-page">
                        <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                    </div>
                    <div class="project-page">
                        <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../js/index_script.js"></script>
    </body>
</html>