<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <div class="container">
            <%- include("./partials/nav.ejs") %>

            <div class="container-album" id="album">
                <div class="album-image"><img src="../Assets/image - network area logos - 500x500.png"></div>
                <div class="album-image"><img src="../Assets/image - web developement logos - 500x500.png"></div>
                <div class="album-image"><img src="../Assets/image - biography - 500x500.png"></div>
                <div class="album-image"><img src="../Assets/image - software logos - 500x500.png"></div>
                <div class="album-image"><img src="../Assets/image - os logos - 500x500.png"></div>
            </div>

            <div class="container-slideshow">
                <div class="slideshow-image">
                    <img id="slideshow" class="slideshow-img" src="../Assets/image - biography - 500x500.png">
                </div>
            </div>

            <div class="container-project">
                <div class="project_page">
                    <div class="project-header">Project 1</div>
                    <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../Assets/image - placeholder hexa - 500x300.png"></a></div>
                </div>
                <div class="project_page">
                    <div class="project-header">Project 2</div>
                    <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../Assets/image - placeholder hexa - 500x300.png"></a></div>
                </div>
                <div class="project_page">
                    <div class="project-header">Project 3</div>
                    <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../Assets/image - placeholder hexa - 500x300.png"></a></div>
                </div>
                <div class="project_page">
                    <div class="project-header">Project 4</div>
                    <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../Assets/image - placeholder hexa - 500x300.png"></a></div>
                </div>
                <div class="project_page">
                    <div class="project-header">Project 5</div>
                    <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../Assets/image - placeholder hexa - 500x300.png"></a></div>
                </div>
                <div class="project_page">
                    <div class="project-header">Project 6</div>
                    <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../Assets/image - placeholder hexa - 500x300.png"></a></div>
                </div>
            </div>
        </div>
        <script src="../Javascript/index_script.js"></script>
    </body>
</html>