<html>
<%- include("./partials/partial_head.ejs") %>
<body>
	<%- include("./partials/partial_navbar.ejs") %>

	<div class="section">
		<div class="section_title">
			<h1>Leandro Rico</h1>
		</div>
		<div class="section_body">
			<p>
				Information Technology 
				&#x2022; Leading projects 
				&#x2022; Meeting Pressured Deadlines
				&#x2022; Being Creative 
				&#x2022; Solving Problems
			</p>
		</div>
	</div>

	<div  class="section">
		<div id="section_game" class="section_body"><canvas id="gameboard"></canvas></div>
		<script src="../js/script-game.js"></script>
	</div>

</body>
</html>