<html>
    <%- include("./partials/head.ejs") %>
    <body>
		<div class="container">
			<%- include("./partials/nav.ejs") %>

            <div class="container-album">
                <div class="album-image"><img src="../Assets/img_portfolio/image - stream overlay future city - 1500x1500.png"></div>
                <div class="album-image"><img src="../Assets/img_portfolio/image - stream overlay space club - 1500x1500.png"></div>
                <div class="album-image"><img src="../Assets/img_portfolio/image - boeing 747-400 render - 1500x1500.png"></div>
                <div class="album-image"><img src="../Assets/img_portfolio/image - vehicle - ww2 us navy landing craft mechanized lcm3 - 1500x1500.png"></div>
                <div class="album-image"><img src="../Assets/img_portfolio/image - shipping container render - 1500x1500.png"></div>
                <div class="album-image"><img src="../Assets/img_portfolio/image - ford police car render - 1500x1500.png"></div>
            </div>

            <div class="container-project">
                <div class="project_page">
                    <div class="project-header">Project 1</div>
                    <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../Assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                </div>
                <div class="project_page">
                    <div class="project-header">Project 2</div>
                    <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../Assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                </div>
                <div class="project_page">
                    <div class="project-header">Project 3</div>
                    <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../Assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                </div>
                <div class="project">
                    <div class="project-header">Project 4</div>
                    <div class="project-image"><a role="link" aria-disabled="true"><img src="../Assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                </div>
                <div class="project">
                    <div class="project-header">Project 5</div>
                    <div class="project-image"><a role="link" aria-disabled="true"><img src="../Assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                </div>
                <div class="project">
                    <div class="project-header">Project 6</div>
                    <div class="project-image"><a role="link" aria-disabled="true"><img src="../Assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                </div>
            </div>
        </div>
    </body>
</html>