<html>
    <%- include("./partials/head.ejs") %>
    <body>
		<div class="container">
			<%- include("./partials/nav.ejs") %>

            <div class="content">
                <div class="album">
                    <div class="album-image"><img src="../assets/img_portfolio/image - stream overlay future city - 1500x1500.png"></div>
                    <div class="album-image"><img src="../assets/img_portfolio/image - stream overlay space club - 1500x1500.png"></div>
                    <div class="album-image"><img src="../assets/img_portfolio/image - boeing 747-400 render - 1500x1500.png"></div>
                    <div class="album-image"><img src="../assets/img_portfolio/image - vehicle - ww2 us navy landing craft mechanized lcm3 - 1500x1500.png"></div>
                    <div class="album-image"><img src="../assets/img_portfolio/image - shipping container render - 1500x1500.png"></div>
                    <div class="album-image"><img src="../assets/img_portfolio/image - ford police car render - 1500x1500.png"></div>
                </div>

                <div class="project">
                    <div class="project-page">
                        <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                    </div>
                    <div class="project-page">
                        <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                    </div>
                    <div class="project-page">
                        <div class="project-image"><a role="link" aria-disabled="true"><img class="project-img" src="../assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                    </div>
                    <div class="project-page">
                        <div class="project-image"><a role="link" aria-disabled="true"><img src="../assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                    </div>
                    <div class="project-page">
                        <div class="project-image"><a role="link" aria-disabled="true"><img src="../assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                    </div>
                    <div class="project-page">
                        <div class="project-image"><a role="link" aria-disabled="true"><img src="../assets/img_placeholder/image - placeholder hexa - 500x300.png"></a></div>
                    </div>
                </div>
            </div>
        </div>
        
    </body>
</html>