<html>
<%- include("./partials/partial_head.ejs") %>
<body>
	<%- include("./partials/partial_navbar.ejs") %>

	<div style="display: grid; grid-template-columns: .25fr 1fr;">
		<div id="cli_commands_list" class="container_cli_commands_scroll"></div>
		<div id="cli_commands" class="container_cli_commands" ></div>
	</div>
	
	<script src="../js/script_api_cli_commands.js"></script>
</body>
</html>