<html>
    <%- include("./partials/head.ejs") %>
    <body>
        <div class="container">
            <%- include("./partials/nav.ejs") %>

            <div class="SIGNIN">




                <div class="browser">
                    <div class="browser-nav">
                        <div class="browser-addressBar">
                            <input type="text">
                        </div>
                        <div class="browser-options">
                            <div class="browser-options-green"></div>
                            <div class="browser-options-yellow"></div>
                            <div class="browser-options-red"></div>
                        </div>
                    </div>

                    <div class="browser-body">
                        <div class="signIn-v1">
                            <div class="signIn-v2-header"><h2>Sign In</h2></div>
                            
                            <div class="signIn-v1-form">
                                <form>
                                    <label>Email</label>
                                    <input type="text">
                                    <label>Password</label>
                                    <input type="password">
                                    <button>Sign In</button>
                                </form>
                            </div>
                            <div class="signIn-v1-links"><a href="">LogIn Help?</a></div>
                            <div class="signIn-v1-links"><a href="">Register</a></div>
                        </div>
                    </div><!--END OF SIGN IN-->
                </div><!--END OF BROWSER-->









                <div class="browser">
                    <div class="browser-nav">
                        <div class="browser-addressBar">
                            <input type="text">
                        </div>
                        <div class="browser-options">
                            <div class="browser-options-green"></div>
                            <div class="browser-options-yellow"></div>
                            <div class="browser-options-red"></div>
                        </div>
                    </div>
                    <div class="browser-body">
                        <div class="signIn-v2">
                            <div class="signIn-v2-header"><h2>Sign In</h2></div>
                            
                            <div class="signIn-v2-form">
                                <form>
                                    <label>Email</label>
                                    <input type="text">
                                    <label>Password</label>
                                    <input type="password">
                                    <button></button>
                                </form>
                            </div>
                            <div class="signIn-v2-links"><a href="">LogIn Help?</a></div>
                            <div class="signIn-v2-links"><a href="">Register</a></div>
                        </div>
                    </div><!--END OF SIGN IN-->
                </div><!--END OF BROWSER-->
















            </div><!--END OF Sign In / Register-->
            
            <div class="STORE">
                <div class="store-nav">
                    <div class="store-nav-menu-icon"></div>
                    <div class="store-nav-menu-layer-1">
                        <ul>
                            <li>Option</li>
                            <li>Option</li>
                            <li>Option</li>
                        </ul>
                    </div>
                    <div class="store-nav-title"><h1>Bobs Store</h1></div>
                </div>

                <div class="store-catalog">
                    <div><h1>Catalog</h1></div>
                    <div class="catalog-list">

                        <div class="catalog-item">
                            <div class="catalog-item-name"><h2>Item</h2></div>   
                            <div class="catalog-item-image"><img src="../Assets/image - placeholder - 150x150.png"></div>                         
                            <div class="catalog-item-description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Esse laboriosam, quibusdam optio, magnam quas veritatis animi, 
                                soluta dicta laborum voluptatibus iusto? Natus asperiores a, 
                                quisquam corrupti blanditiis enim expedita. Soluta!
                            </div>
                            <div class="catalog-item-price">0.00</div>
                            <div class="catalog-item-button"><button>Add Item</button></div>
                        </div>

                        <div class="catalog-item">
                            <div class="catalog-item-name"><h2>Item</h2></div>   
                            <div class="catalog-item-image"><img src="../Assets/image - placeholder - 150x150.png"></div>                         
                            <div class="catalog-item-description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Esse laboriosam, quibusdam optio, magnam quas veritatis animi, 
                                soluta dicta laborum voluptatibus iusto? Natus asperiores a, 
                                quisquam corrupti blanditiis enim expedita. Soluta!
                            </div>
                            <div class="catalog-item-price">0.00</div>
                            <div class="catalog-item-button"><button>Add Item</button></div>
                        </div>

                        <div class="catalog-item">
                            <div class="catalog-item-name"><h2>Item</h2></div>   
                            <div class="catalog-item-image"><img src="../Assets/image - placeholder - 150x150.png"></div>                         
                            <div class="catalog-item-description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Esse laboriosam, quibusdam optio, magnam quas veritatis animi, 
                                soluta dicta laborum voluptatibus iusto? Natus asperiores a, 
                                quisquam corrupti blanditiis enim expedita. Soluta!
                            </div>
                            <div class="catalog-item-price">0.00</div>
                            <div class="catalog-item-button"><button>Add Item</button></div>
                        </div>

                        <div class="catalog-item">
                            <div class="catalog-item-name"><h2>Item</h2></div>   
                            <div class="catalog-item-image"><img src="../Assets/image - placeholder - 150x150.png"></div>                         
                            <div class="catalog-item-description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Esse laboriosam, quibusdam optio, magnam quas veritatis animi, 
                                soluta dicta laborum voluptatibus iusto? Natus asperiores a, 
                                quisquam corrupti blanditiis enim expedita. Soluta!
                            </div>
                            <div class="catalog-item-price">0.00</div>
                            <div class="catalog-item-button"><button>Add Item</button></div>
                        </div>

                        <div class="catalog-item">
                            <div class="catalog-item-name"><h2>Item</h2></div>   
                            <div class="catalog-item-image"><img src="../Assets/image - placeholder - 150x150.png"></div>                         
                            <div class="catalog-item-description">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Esse laboriosam, quibusdam optio, magnam quas veritatis animi, 
                                soluta dicta laborum voluptatibus iusto? Natus asperiores a, 
                                quisquam corrupti blanditiis enim expedita. Soluta!
                            </div>
                            <div class="catalog-item-price">0.00</div>
                            <div class="catalog-item-button"><button>Add Item</button></div>
                        </div>

                    </div><!--END OF CATALOG LIST-->
                </div><!--END OF CATALOG -->

                <div class="store-cart">
                    <div><h1>Shopping Cart</h1></div>
                    <div class="cart-list">
                        <div class="cart-item">
                            <div><img src="../Assets/image - placeholder - 150x150.png"></div>
                            <div><h2>Item</h2></div>
                            <div class="cart-item-body">
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                            </div>
                            <div>0.00</div>
                            <div><input type="text"></div>
                            <div class="cart-item-remove"><button>-</button></div>
                        </div>
                    </div><!--END OF CART LIST-->
                    <div><h2>Total</h2></div>
                    <div>0.00</div>
                    <div class="cart-checkout"><button>Checkout</button></div>
                </div><!--END OF SHOPPING CART -->
            </div><!--END OF STORE -->

        </div><!--END OF CONTAINER -->
    </body>
</html>