:root{
    --page-bg-image: url("../Assets/image - background - 2048x1152.png");
	--page-bg-color: rgb(20, 20, 20);

    --container-bg-color: rgba(0, 0, 0, 0);
    --container-border-color: rgba(0, 0, 0, 0.5);
    --container-font-color: white;

    --profile-bg-color: rgba(110, 110, 110, 0.95);
    --profile-border-color: rgba(0, 0, 0, 0);
    --profile-table-font-color: white;

    --category-bg-color: rgb(0, 153, 255);
    --categort-border-color: rgba(0, 0, 0, 0);
}

body{
    background-color: var(--page-bg-color);
    background-size: cover;
}

/*##################################################*/

.container{
	display: grid;
	grid-template-columns: auto;

	margin-top: 2%;
	border: 3px solid var(--container-border-color);
    color: var(--container-font-color);
}

/*##################################################*/

.container-profile{
    color: white;
    background-color: var(--profile-bg-color);
    display: grid;
    grid-template-columns: auto;
}
.profile-image{
    text-align: center;
}
.profile-image img{
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
}
.profile-name{
    text-align: center;
    font-size: 50px;
}
.profile-body{
    text-align: center;
    font-size: 40px;
}
.profile-table-header{
    text-align: center;
    font-size: 50px;
}
.profile-table table{
    color: var(--profile-table-font-color);
    font-size: 30px;
}

/*##################################################*/

.container-category{
	display: grid;
	grid-template-columns: auto;
    background-color: var(--category-bg-color);
}
.category{
    border-left: 1px solid var(--category-bg-color);
}
.category ul{
    list-style-type: none;
}
.category-image{
    text-align: center;
}
.category-image img{
    width: 500px;
    height: 400px;
    margin: 5px;
}
.category-header{
    font-size: 45px;
    text-align: center;
}
.category-label{
    text-align: center;
    font-size: 40px;
}