:root{
    --page-bg-image: url("../Assets/image - background - 2048x1152.png");
	--page-bg-color: rgb(20, 20, 20);

    --container-bg-color: rgba(0, 0, 0, 0);
    --container-border-color: rgba(0, 0, 0, 0.5);
    --container-font-color: white;

    --profile-font-color: white;
    --profile-bg-color: rgba(110, 110, 110, 0.95);
    --profile-border-color: rgba(0, 0, 0, 0);
    --profile-table-font-color: white;

    --profile-name-font: "Salsa", serif;
    --profile-body-font: "MuseoModerno", serif;
    --profile-tableHeader-font: "Salsa", serif;
    --profile-table-font: "Julius Sans One", serif;

    --category-bg-color: rgb(0, 153, 255);
    --category-border-color: rgba(0, 0, 0, 0);

    --category-header-font: "Salsa", serif;
    --caterory-label-font: "Julius Sans One", serif;
}

body{
    background-color: var(--page-bg-color);
    background-size: cover;
}

/*##################################################*/

.container{
	display: grid;
	grid-template-columns: 50% 50%;
    grid-template-rows: 10% 90%;

    margin-top: 2%;
	height: 90%;

	border: 3px solid var(--container-border-color);
    color: var(--container-font-color);
}

/*##################################################*/

.container-profile{
    color: var(--profile-font-color);
    background-color: var(--profile-bg-color);
}
.profile-image{
    text-align: center;
}
.profile-name h2{
    text-align: center;

    font-family: var(--profile-name-font);
    font-size: 10px;
}
.profile-body{
    text-align: center;

    font-family: var(--profile-body-font);
    font-size: 12px;
}
.profile-table-header{
    text-align: center;

    font-family: var(--profile-tableHeader-font);
    font-size: 10px;
}
.profile-table table{
    color: var(--profile-table-font-color);

    font-family: var(--profile-table-font);
    font-size: 10px;
    
}

/*##################################################*/

.container-category{
    grid-column: 2/3;
	display: grid;
	grid-template-columns: repeat(4, 25%);

    background-color: var(--category-bg-color);
}
.category{
    border-left: 1px solid var(--category-bg-color);

    font-size: 9px;
}
.category-image{
    margin-top: 50px;
    text-align: center;
}
.category-image img{
    width: 100px;
    height: 50px;
    margin: 5px;
}
.category-header{
    text-align: center;

    font-family: var(--category-header-font);
    font-size: 14px;
}
.category-label{
    margin-top: 10px;
    text-align: center;
    
    font-family: var(--caterory-label-font);
    font-size:  8px;
}


/*#######################################################################################*/

/*#########################        WIDTH: 1000PX*/
@media (min-width: 800px){
    @media (min-height: 400px){
        .profile-name{
            font-size: 12px;
        }
        .profile-body{
            font-size: 8px;
        }
        .profile-table-header{
            font-size: 12px;
        }
        .profile-table table{
            font-size: 8px;
        }
    }
    @media (min-height: 500px){
        .profile-name{
            font-size: 12px;
        }
        .profile-body{
            font-size: 8px;
        }
        .profile-table-header{
            font-size: 12px;
        }
        .profile-table table{
            font-size: 8px;
        }
    }
    @media (min-height: 600px){
        .profile-name{
            font-size: 12px;
        }
        .profile-body{
            font-size: 9px;
        }
        .profile-table-header{
            font-size: 12px;
        }
        .profile-table table{
            font-size: 9px;
        }
    }
    @media (min-height: 700px){
        .profile-name{
            font-size: 12px;
        }
        .profile-body{
            font-size: 10px;
        }
        .profile-table-header{
            font-size: 14px;
        }
        .profile-table table{
            font-size: 10px;
        }
    }
    @media (min-height: 800px){
        .profile-name{
            font-size: 12px;
        }
        .profile-body{
            font-size: 16px;
        }
        .profile-table-header{
            font-size: 12px;
        }
        .profile-table table{
            font-size: 12px;
        }
    }
    @media (min-height: 900px){
        .profile-name{
            font-size: 12px;
        }
        .profile-body{
            font-size: 16px;
        }
        .profile-table-header{
            font-size: 12px;
        }
        .profile-table table{
            font-size: 14px;
        }
    }
}
/*#########################        WIDTH: 1500PX*/
@media (min-width: 1500px){
    @media (min-height: 400px){
        .profile-name{
            font-size: 12px;
        }
        .profile-body{
            font-size: 12px;
        }
        .profile-table-header{
            font-size: 12px;
        }
        .profile-table table{
            font-size: 12px;
        }
    }
    @media (min-height: 500px){
        .profile-name{
            font-size: 14px;
        }
        .profile-body{
            font-size: 14px;
        }
        .profile-table-header{
            font-size: 14px;
        }
        .profile-table table{
            font-size: 14px;
        }
    }
    @media (min-height: 600px){
        .profile-name{
            font-size: 14px;
        }
        .profile-body{
            font-size: 12px;
        }
        .profile-table-header{
            font-size: 15px;
        }
        .profile-table table{
            font-size: 12px;
        }
    }
    @media (min-height: 700px){
        .profile-name{
            font-size: 14px;
        }
        .profile-body{
            font-size: 12px;
        }
        .profile-table-header{
            font-size: 16px;
        }
        .profile-table table{
            font-size: 12px;
        }
    }
    @media (min-height: 800px){
        .profile-name{
            font-size: 16px;
        }
        .profile-body{
            font-size: 16px;
        }
        .profile-table-header{
            font-size: 20px;
        }
        .profile-table table{
            font-size: 15px;
        }
    }
    @media (min-height: 900px){
        .profile-name{
            font-size: 25px;
        }
        .profile-body{
            font-size: 16px;
        }
        .profile-table-header{
            font-size: 25px;
        }
        .profile-table table{
            font-size: 12px;
        }
    }
}

/*#######################################################################################*/

/*#########################        WIDTH: 1000PX*/
@media (min-width: 800px){
    @media (min-height: 400px){
        .category-image img{
            width: 115px;
            height: 65px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 8px;
        }
    }
    @media (min-height: 500px){
        .category-image img{
            width: 150px;
            height: 100px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 8px;
        }
    }
    @media (min-height: 600px){
        .category-image img{
            width: 150px;
            height: 100px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 10px;
        }
    }
    @media (min-height: 700px){
        .category-image img{
            width: 150px;
            height: 100px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 12px;
        }
    }
    @media (min-height: 800px){
        .category-image img{
            width: 150px;
            height: 100px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 14px;
        }
    }
    @media (min-height: 900px){
        .category-image img{
            width: 150px;
            height: 100px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 17px;
        }
    }
}
/*#########################        WIDTH: 1500PX*/
@media (min-width: 1500px){
    @media (min-height: 400px){
        .category-image img{
            width: 150px;
            height: 100px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
                font-size: 9px;
        }
    }
    @media (min-height: 500px){
        .category-image img{
            width: 150px;
            height: 75px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 11.5px;
        }
    }
    @media (min-height: 600px){
        .category-image img{
            width: 150px;
            height: 75px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 12px;
        }
    }
    @media (min-height: 700px){
        .category-image img{
            width: 150px;
            height: 75px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 14px;
        }
    }
    @media (min-height: 800px){
        .category-image img{
            width: 150px;
            height: 75px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 16px;
        }
    }
    @media (min-height: 900px){
        .category-image img{
            width: 150px;
            height: 75px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 19px;
        }
    }
}
/*#########################        WIDTH: 2000PX*/
@media (min-width: 2000px){
    @media (min-height: 400px){
        .category-image img{
            width: 150px;
            height: 75px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 10px;
        }
    }
    @media (min-height: 500px){
        .category-imgage img{
            width: 175px;
            height: 100px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 14px;
        }
    }
    @media (min-height: 600px){
        .category-image img{
            width: 200px;
            height: 125px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 16px;
        }
    }
    @media (min-height: 700px){
        .category-image img{
            width: 200px;
            height: 125px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 18px;
        }
    }
    @media (min-height: 800px){
        .category-image img{
            width: 200px;
            height: 125px;
            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 14px;
        }
        .category-label{
            font-size: 19px;
        }
    }
    @media (min-height: 900px){
        .category-image img{
            width: 250px;
            height: 175px;

            margin: 5px;
        }
        .category-header{
            text-align: center;
        
            font-family: "Salsa", serif;
            font-size: 18px;
        }
        .category-label{
            font-size: 20px;
        }
    }
}