:root{
    --page-bg-image: url("../Assets/image - background - 2048x1152.png");
	--page-bg-color: rgb(20, 20, 20);

    --container-bg-color: rgba(0, 0, 0, 0);
    --container-border-color: rgba(0, 0, 0, 0.5);
    --container-font-color: white;

    --profile-font-color: white;
    --profile-bg-color: rgba(110, 110, 110, 0.95);
    --profile-border-color: rgba(0, 0, 0, 0);
    --profile-table-font-color: white;

    --profile-name-font: "Salsa", serif;
    --profile-body-font: "MuseoModerno", serif;
    --profile-tableHeader-font: "Salsa", serif;
    --profile-table-font: "Julius Sans One", serif;

    --category-bg-color: rgb(0, 153, 255);
    --category-border-color: rgba(0, 0, 0, 0);

    --category-header-font: "Salsa", serif;
    --caterory-label-font: "Julius Sans One", serif;
}


body{
    background-color: var(--page-bg-color);
    background-size: cover;
}

/*##################################################*/

.container{
	display: grid;
	grid-template-columns: auto;

	margin-top: 2%;
	border: 3px solid var(--container-border-color);
    color: var(--container-font-color);
}

/*##################################################*/

.container-profile{
    display: grid;
    grid-template-columns: auto;

    margin-top: 50px;

    color: var(--profile-font-color);
    background-color: var(--profile-bg-color);
}
.profile-image{
    text-align: center;
}
.profile-image img{
    margin: 5px;
    width: 200px;
    height: 200px;

    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
}
.profile-name h2{
    text-align: center;
    
    font-family: var(--profile-name-font);
    font-size: 50px;
}
.profile-body{
    text-align: center;

    font-family: var(--profile-body-font);
    font-size: 40px;
}
.profile-table-header{
    text-align: center;

    font-family: var(--profile-tableHeader-font);
    font-size: 50px;
}
.profile-table table{
    color: var(--profile-table-font-color);

    font-family: var(--profile-table-font);
    font-size: 30px;
}

/*##################################################*/

.container-category{
	display: grid;
	grid-template-columns: auto;

    margin-top: 50px;
    background-color: var(--category-bg-color);
}
.category{
    border-left: 1px solid var(--category-bg-color);
}
.category-image{
    margin-top: 100px;
    text-align: center;
}
.category-image img{
    margin: 5px;
    width: 800px;
    height: 500px;
}
.category-header{
    text-align: center;

    font-family: var(--category-header-font);
    font-size: 80px;
}
.category-label {
    margin-top: 10px;
    text-align: center;

    font-family: var(--caterory-label-font);
    font-size: 65px;
}