body{
    background-image: url("../Assets/image - background - 2048x1152.png");
    background-size: cover;
}

/*##################################################*/

.container{
	display: grid;
	grid-template-columns: auto;

	margin-top: 2%;
	border: 3px solid rgba(0, 0, 0, 0.5);
    color: white;
}

/*##################################################*/

.container-profile{
    color: white;
    background-color: rgba(110, 110, 110, 0.95);
    display: grid;
    grid-template-columns: auto;
}
.profile-image{
    text-align: center;
}
.profile-image img{
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
}
.profile-name{
    text-align: center;
    font-size: 50px;
}
.profile-body{
    text-align: center;
    font-size: 40px;
}
.profile-table-header{
    text-align: center;
    font-size: 50px;
}
.profile-table table{
    color: white;
    font-size: 30px;
}

/*##################################################*/

.container-category{
	display: grid;
	grid-template-columns: auto;
    background-color: rgba(64, 141, 64, 0.95);
}
.category{
    border-left: 1px solid black;
}
.category ul{
    list-style-type: none;
}
.category-image{
    text-align: center;
}
.category-image img{
    width: 500px;
    height: 400px;
    margin: 5px;
}
.category-header{
    text-align: center;
}
.category-label{
    text-align: center;
    font-size: 50px;
}