@media (min-width: 0px) and (max-width: 1000px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FAA916;
  }
  .nav-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 650px;
  }
  .nav-main-logo {
    margin-top: 0.5em;
    margin-left: 0.5em;
  }
  .nav-main-logo img {
    width: 150px;
    height: 150px;
  }
  .nav-main-title {
    margin-top: 1em;
    font-family: "Kalam", serif;
    color: black;
    font-size: 50px;
  }
  .nav-main-links a {
    font-family: "Kalam", serif;
    color: black;
    font-size: 50px;
    text-decoration: none;
  }
  .nav-main-links a:hover {
    color: #31d3e9;
  }
  .nav-socialMedia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    margin-top: 3em;
    width: 50px;
  }
  .nav-socialMedia img {
    width: 125px;
    height: 125px;
  }
}
@media (min-width: 1000px) and (max-width: 1280px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FAA916;
  }
  .nav-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1em;
    width: 325px;
  }
  .nav-main-logo {
    margin-top: -0.25em;
    margin-left: 5px;
  }
  .nav-main-logo img {
    width: 55px;
    height: 55px;
  }
  .nav-main-title {
    margin-left: 25px;
    margin-top: 1em;
    font-family: "Kalam", serif;
    color: black;
    font-size: 12px;
  }
  .nav-main-links {
    margin-left: 25px;
    margin-top: 0.05em;
  }
  .nav-main-links a {
    font-family: "Kalam", serif;
    color: black;
    font-size: 10px;
    text-decoration: none;
  }
  .nav-main-links a:hover {
    color: #31d3e9;
  }
  .nav-socialMedia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 70%;
    margin-top: 0.75em;
    width: 150px;
  }
  .nav-socialMedia-image {
    margin-top: 0.25em;
  }
  .nav-socialMedia-image img {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 1280px) and (max-width: 1536px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FAA916;
  }
  .nav-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1em;
    width: 325px;
  }
  .nav-main-logo {
    margin-top: -0.25em;
    margin-left: 5px;
  }
  .nav-main-logo img {
    width: 60px;
    height: 60px;
  }
  .nav-main-title {
    margin-left: 25px;
    margin-top: 1em;
    font-family: "Kalam", serif;
    color: black;
    font-size: 14px;
  }
  .nav-main-links {
    margin-left: 25px;
    margin-top: 0.05em;
  }
  .nav-main-links a {
    font-family: "Kalam", serif;
    color: black;
    font-size: 12px;
    text-decoration: none;
  }
  .nav-main-links a:hover {
    color: #31d3e9;
  }
  .nav-socialMedia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 70%;
    margin-top: 0.75em;
    width: 150px;
  }
  .nav-socialMedia-image {
    margin-top: 0.25em;
  }
  .nav-socialMedia-image img {
    width: 35px;
    height: 35px;
  }
}
@media (min-width: 1536px) and (max-width: 1920px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FAA916;
  }
  .nav-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1em;
    width: 325px;
  }
  .nav-main-logo {
    margin-top: -0.25em;
    margin-left: 5px;
  }
  .nav-main-logo img {
    width: 65px;
    height: 65px;
  }
  .nav-main-title {
    margin-left: 25px;
    margin-top: 1em;
    font-family: "Kalam", serif;
    color: black;
    font-size: 16px;
  }
  .nav-main-links {
    margin-left: 25px;
    margin-top: 0.05em;
  }
  .nav-main-links a {
    font-family: "Kalam", serif;
    color: black;
    font-size: 14px;
    text-decoration: none;
  }
  .nav-main-links a:hover {
    color: #31d3e9;
  }
  .nav-socialMedia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 70%;
    margin-top: 0.75em;
    width: 150px;
  }
  .nav-socialMedia-image {
    margin-top: 0.25em;
  }
  .nav-socialMedia-image img {
    width: 40px;
    height: 40px;
  }
}
@media (min-width: 1920px) and (max-width: 2100px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FAA916;
  }
  .nav-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1em;
    width: 325px;
  }
  .nav-main-logo {
    margin-top: -0.25em;
    margin-left: 5px;
  }
  .nav-main-logo img {
    width: 70px;
    height: 70px;
  }
  .nav-main-title {
    margin-left: 25px;
    margin-top: 1em;
    font-family: "Kalam", serif;
    color: black;
    font-size: 18px;
  }
  .nav-main-links {
    margin-left: 25px;
    margin-top: 0.05em;
  }
  .nav-main-links a {
    font-family: "Kalam", serif;
    color: black;
    font-size: 16px;
    text-decoration: none;
  }
  .nav-main-links a:hover {
    color: #31d3e9;
  }
  .nav-socialMedia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 70%;
    margin-top: 0.75em;
    width: 150px;
  }
  .nav-socialMedia-image {
    margin-top: 0.25em;
  }
  .nav-socialMedia-image img {
    width: 45px;
    height: 45px;
  }
}
@media (min-width: 2100px) {
  .nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #FAA916;
  }
  .nav-main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 1em;
    width: 325px;
  }
  .nav-main-logo {
    margin-top: -0.25em;
    margin-left: 5px;
  }
  .nav-main-logo img {
    width: 75px;
    height: 75px;
  }
  .nav-main-title {
    margin-left: 25px;
    margin-top: 1em;
    font-family: "Kalam", serif;
    color: black;
    font-size: 20px;
  }
  .nav-main-links {
    margin-left: 25px;
    margin-top: 0.05em;
  }
  .nav-main-links a {
    font-family: "Kalam", serif;
    color: black;
    font-size: 18px;
    text-decoration: none;
  }
  .nav-main-links a:hover {
    color: #31d3e9;
  }
  .nav-socialMedia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 70%;
    margin-top: 0.75em;
    width: 150px;
  }
  .nav-socialMedia-image {
    margin-top: 0.25em;
  }
  .nav-socialMedia-image img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 0px) and (max-width: 1000px) {
  body {
    background-color: #333232;
  }
  .container {
    display: grid;
    grid-template-columns: auto;
    margin-top: 2%;
    border: 3px solid rgba(0, 0, 0, 0.5019607843);
  }
  .profile {
    margin-top: 50px;
    background-color: rgba(95, 95, 95, 0.2862745098);
  }
  .profile-image {
    text-align: center;
  }
  .profile-image img {
    margin: 5px;
    width: 200px;
    height: 200px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 50%;
  }
  .profile-name {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 25px;
  }
  .profile-body {
    text-align: center;
    font-family: "MuseoModerno", serif;
    color: white;
    font-size: 20px;
  }
  .profile-table-title {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 30px;
  }
  .profile-table table {
    font-family: "Julius Sans One", serif;
    color: white;
    font-size: 10px;
  }
  .categories {
    display: grid;
    grid-template-columns: auto;
    margin-top: 50px;
    background-color: #39A9DB;
  }
  .category {
    margin: 2em;
  }
  .category-image {
    margin-top: 100px;
    text-align: center;
  }
  .category-image img {
    margin: 5px;
    width: 800px;
    height: 500px;
  }
  .category-title {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 80px;
  }
  .category-item-label {
    margin-top: 10px;
    text-align: center;
    font-family: "Julius Sans One", serif;
    color: white;
    font-size: 65px;
  }
}
@media (min-width: 1000px) and (max-width: 1280px) {
  body {
    background-color: #333232;
  }
  .container {
    display: grid;
    grid-template-rows: 10% 90%;
    margin-top: 2%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0.5019607843);
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #39A9DB;
  }
  .profile {
    background-color: rgba(95, 95, 95, 0.2862745098);
  }
  .profile-image {
    text-align: center;
  }
  .profile-name {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 8px;
  }
  .profile-body {
    text-align: center;
    font-family: "MuseoModerno", serif;
    color: white;
    font-size: 8px;
  }
  .profile-table-title {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 8px;
  }
  .profile-table table {
    font-family: "Julius Sans One", serif;
    color: white;
    font-size: 8px;
  }
  .category {
    margin: 2em;
  }
  .category-image {
    text-align: center;
  }
  .category-image img {
    width: 50px;
    height: 28.5714285714px;
  }
  .category-title {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 8px;
  }
  .category-item-label {
    margin-top: 20px;
    text-align: center;
    font-family: "Julius Sans One", serif;
    color: white;
    font-size: 8px;
  }
}
@media (min-width: 1280px) and (max-width: 1536px) {
  body {
    background-color: #333232;
  }
  .container {
    display: grid;
    grid-template-rows: 10% 90%;
    margin-top: 2%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0.5019607843);
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #39A9DB;
  }
  .profile {
    background-color: rgba(95, 95, 95, 0.2862745098);
  }
  .profile-image {
    text-align: center;
  }
  .profile-name {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 14px;
  }
  .profile-body {
    text-align: center;
    font-family: "MuseoModerno", serif;
    color: white;
    font-size: 12px;
  }
  .profile-table-title {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 14px;
  }
  .profile-table table {
    font-family: "Julius Sans One", serif;
    color: white;
    font-size: 10px;
  }
  .category {
    margin: 2em;
  }
  .category-image {
    text-align: center;
  }
  .category-image img {
    width: 120px;
    height: 68.5714285714px;
  }
  .category-title {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 10px;
  }
  .category-item-label {
    margin-top: 20px;
    text-align: center;
    font-family: "Julius Sans One", serif;
    color: white;
    font-size: 10px;
  }
}
@media (min-width: 1536px) and (max-width: 1920px) {
  body {
    background-color: #333232;
  }
  .container {
    display: grid;
    grid-template-rows: 10% 90%;
    margin-top: 2%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0.5019607843);
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #39A9DB;
  }
  .profile {
    background-color: rgba(95, 95, 95, 0.2862745098);
  }
  .profile-image {
    text-align: center;
  }
  .profile-name {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 16px;
  }
  .profile-body {
    text-align: center;
    font-family: "MuseoModerno", serif;
    color: white;
    font-size: 14px;
  }
  .profile-table-title {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 16px;
  }
  .profile-table table {
    font-family: "Julius Sans One", serif;
    color: white;
    font-size: 12px;
  }
  .category {
    margin: 2em;
  }
  .category-image {
    text-align: center;
  }
  .category-image img {
    width: 125px;
    height: 71.4285714286px;
  }
  .category-title {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 12px;
  }
  .category-item-label {
    margin-top: 20px;
    text-align: center;
    font-family: "Julius Sans One", serif;
    color: white;
    font-size: 12px;
  }
}
@media (min-width: 1920px) and (max-width: 2100px) {
  body {
    background-color: #333232;
  }
  .container {
    display: grid;
    grid-template-rows: 10% 90%;
    margin-top: 2%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0.5019607843);
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #39A9DB;
  }
  .profile {
    background-color: rgba(95, 95, 95, 0.2862745098);
  }
  .profile-image {
    text-align: center;
  }
  .profile-name {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 18px;
  }
  .profile-body {
    text-align: center;
    font-family: "MuseoModerno", serif;
    color: white;
    font-size: 14px;
  }
  .profile-table-title {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 18px;
  }
  .profile-table table {
    font-family: "Julius Sans One", serif;
    color: white;
    font-size: 14px;
  }
  .category {
    margin: 2em;
  }
  .category-image {
    text-align: center;
  }
  .category-image img {
    width: 175px;
    height: 100px;
  }
  .category-title {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 14px;
  }
  .category-item-label {
    margin-top: 20px;
    text-align: center;
    font-family: "Julius Sans One", serif;
    color: white;
    font-size: 14px;
  }
}
@media (min-width: 2100px) {
  body {
    background-color: #333232;
  }
  .container {
    display: grid;
    grid-template-rows: 10% 90%;
    margin-top: 2%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0.5019607843);
  }
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #39A9DB;
  }
  .profile {
    background-color: rgba(95, 95, 95, 0.2862745098);
  }
  .profile-image {
    text-align: center;
  }
  .profile-name {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 24px;
  }
  .profile-body {
    text-align: center;
    font-family: "MuseoModerno", serif;
    color: white;
    font-size: 16px;
  }
  .profile-table-title {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 24px;
  }
  .profile-table table {
    font-family: "Julius Sans One", serif;
    color: white;
    font-size: 16px;
  }
  .category {
    margin: 2em;
  }
  .category-image {
    text-align: center;
  }
  .category-image img {
    width: 200px;
    height: 114.2857142857px;
  }
  .category-title {
    text-align: center;
    font-family: "Salsa", serif;
    color: white;
    font-size: 18px;
  }
  .category-item-label {
    margin-top: 20px;
    text-align: center;
    font-family: "Julius Sans One", serif;
    color: white;
    font-size: 16px;
  }
}