
:root{
	--album-bg: rgba(64, 141, 64, 0.3);
	--album-img-bg: rgba(64, 141, 64, 0.5);
	--album-img-border: rgba(0, 255, 0, 0.9);
	--presentation-bg: rgba(209, 209, 209, 0.7);
	--portfolio-bg: rgba(110, 110, 110, 0.7);
	--portfolio-img-border: rgba(0, 255, 0, 0.9);
}


body{
	background-image: url("../Assets/image - background - 2048x1152.png");
	background-size: cover;
}

/*##################################################*/

.container{
	margin-top: 2%;
}

/*##################################################*/

.container-album{
	display: grid;
	grid-template-columns: repeat(5, 20%);

	margin-top: 50px;
	text-align: center;
	background-color: var(--album-bg);
}
.album-image:nth-child(3){
	background-color: var(--album-img-bg);
	border: 3px solid  var(--album-img-border);
}
.album-image img{
	width: 100px;
	height: 100px;
	margin: 6%;
	object-fit: cover;
}

/*##################################################*/

.container-slideshow{
	display: grid;
	grid-template-columns: 100%;

    margin-top: 50px;
	background-color: var(--presentation-bg);
}
.slideshow-image{
	text-align: center;
}
.slideshow-image img{
	width: 800px;
	height: 800px;
	margin: 3%;
	object-fit: cover;
}

/*##################################################*/

.container-project{
	display: grid;
	grid-template-columns: auto;

    margin-top: 50px;
	background-color: var(--portfolio-bg);
}
.project-header{
	text-align: center;
	color: white;
}
.project-image{
	text-align: center;
}
.project-image img{
	width: 800px;
    height: 500px;
	object-fit: cover;
}
.portfolio-image img:hover{
	border: 3px solid var(--portfolio-img-border);
}
