:root{
	--page-bg-color: #333232;

	--container-bg-color: rgba(0, 0, 0, 0);
	--container-border-color: rgba(0, 0, 0, 0.5);

	--album-bg-color: #39A9DB;
	--album-img-bg-color: rgba(95, 95, 95, 0.288);
	--album-img-border-color: rgba(0, 0, 0, 0.521);

	--content-bg-color: rgb(85, 85, 85);
}