:root{

	--nav-bg-color: rgb(104, 104, 104);
	--nav-border-color: black;
	--nav-font-color: white;

	--nav-list-font-color: white;
	--nav-list-hover-font-color: rgba(49, 211, 233);
}


.nav{
	grid-column: 1/3;

	background-color: var(--nav-bg-color);
	border-bottom: 2px solid var(--nav-border-color);
	color: var(--nav-font-color);
}
.nav-image img{
	width: 25px;
	height: 25px;
	margin-top: 2px;
	margin-left: 5px;
}
.nav-header{
	text-align: center;
	font-size: 8px;
}
.nav-list ul{
	list-style-type: none;
}
.nav-list a{
	font-size: 8px;

	color: var(--nav-list-font-color);
	text-decoration: none;
}
.nav-list a:hover{
	color: var(--nav-list-hover-font-color);
}



@media (min-width: 800px){
	@media (min-height: 400px){
		.nav-image img{
			width: 30px;
			height: 30px;
		}
		.nav-header{
			font-size: 10px;
		}
		.nav-list a{
			font-size: 8px;
		}
	}
	@media (min-height: 500px){
		.nav-image img{
			width: 35px;
			height: 35px;
		}
		.nav-header{
			font-size: 12px;
		}
		.nav-list a{
			font-size: 11px;
		}
	}
	@media (min-height: 600px){
		.nav-image img{
			width: 40px;
			height: 40px;
		}
		.nav-header{
			font-size: 13px;
		}
		.nav-list a{
			font-size: 12px;
		}
	}
	@media (min-height: 700px){
		.nav-image img{
			width: 50px;
			height: 50px;
		}
		.nav-header{
			font-size: 15px;
		}
		.nav-list a{
			font-size: 12.5px;
		}
	}
	@media (min-height: 800px){
		.nav-image img{
			width: 60px;
			height: 60px;
		}
		.nav-header{
			font-size: 17px;
		}
		.nav-list a{
			font-size: 14px;
		}
	}
	@media (min-height: 900px){
		.nav-image img{
			width: 65px;
			height: 65px;
		}
		.nav-header{
			font-size: 18px;
		}
		.nav-list a{
			font-size: 15px;
		}
	}
}

