.nav{
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	background-color: var(--nav-bg-color);
}
/*-----------------------------------------------------------------*/
.nav-main{
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	margin-left: 1em;
	width: 325px;
}
/*-------------------------------------*/
.nav-main-logo{
	margin-top: -.25em;
	margin-left: 5px;
}
.nav-main-logo img{
	width: 75px;
	height: 75px;
}
/*-------------------------------------*/
.nav-main-title{
	margin-left: 25px;
	margin-top: 1em;

	font-family: var(--nav-title-font);
	color: var(--nav-title-font-color);
	font-size: 20px;
}
/*-------------------------------------*/
.nav-main-links{
	margin-left: 25px;
	margin-top: .05em;
}
.nav-main-links a{
	font-family: var(--nav-links-font);
	color: var(--nav-links-font-color);
	font-size: 18px;

	text-decoration: none;
}
.nav-main-links a:hover{
	color: var(--nav-links-font-color_hover)
}
/*-----------------------------------------------------------------*/
.nav-socialMedia{
	display: grid;
	grid-template-columns: repeat(2,1fr);

	margin-left: 70%;
	margin-top: .75em;
	width: 150px;
}
/*-------------------------------------*/
.nav-socialMedia-image{
	margin-top: .25em;
}
.nav-socialMedia-image img{
	width: 50px;
	height: 50px;
}