:root{

	--nav-bg-color: rgb(104, 104, 104);
	--nav-border-color: black;
	--nav-font-color: white;

	--nav-list-font-color: white;
	--nav-list-hover-font-color: rgba(49, 211, 233);
}
.nav{
	background-color: rgba(18, 132, 185, 0.9);
	border-bottom: 2px solid black;
	color: white;
}
.nav-image img{
	width: 150px;
	height: 150px;
	margin-top: 2px;
	margin-left: 5px;
}
.nav-header{
	text-align: center;
}
.nav-list ul{
	margin-top: 0px;
	list-style-type: none;
    
}
.nav-list li{
    margin-left: 100px;
    display: inline-block;
}
.nav-list a{
	color: white;
	text-decoration: none;
    font-size: 50px;
}
.nav-list a:hover{
	color: rgb(49, 211, 233);
}

