:root{
	--page-bg-image: url("../Assets/image - background - 2048x1152.png");
	--page-bg-color: rgb(20, 20, 20);

	--container-bg-color: rgba(0, 0, 0, 0);
	--container-border-color: rgba(0, 0, 0, 0.5);

	--album-bg-color: rgb(0, 153, 255);
	--album-img-bg-color: rgba(95, 95, 95, 0.288);
	--album-img-border-color: rgba(0, 0, 0, 0.521);

	--presentation-bg-color: rgb(85, 85, 85);
	--presentation-border-color: rgb(85, 85, 85);
	
	--portfolio-bg-color: rgb(85, 85, 85);
	--portfolio-bg-color: rgb(85, 85, 85);
	--portfolio-header-font-color: white;
	--portfolio-img-border-color: rgba(0, 0, 0, 0.9);
}

body{
    background-color: var(--page-bg-color);
    background-size: cover;
}


/*##################################################*/

.container{
	display: grid;
	grid-template-columns: auto;

	margin-top: 2%;
    border: 3px solid var(--container-border-color);
}

/*##################################################*/

.container-album{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;

    text-align: center;
    background-color: var(--album-bg-color);
}
.album-image img{
    margin-top: 25px;
    width: 800px;
    height: 800px;
    object-fit: cover;
}

/*##################################################*/

.container-project{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto;

    background-color: var(--portfolio-bg-color);
}
.project-header{
    text-align: center;
    color: var(--portfolio-header-font-color);
}
.project-image{
    text-align: center;
}
.project-image img{
    width: 800px;
    height: 500px;
    object-fit: cover;
}
.project-image img:hover{
	border: 3px solid  var(--portfolio-img-border-color);
}