
body{
	background-image: url("../Assets/image - background - 2048x1152.png");
	background-size: cover;
}

/*##################################################*/

.container{
	margin-top: 2%;

	color: white;
}

/*#############################################################################*/

.SIGNIN{
	background-color: rgb(182, 139, 23);
}
.browser{
	height: 850px;
	margin: 10px;
	background-color: white;
	border: 3px solid black;
	border-radius: 10px;

}
.browser-nav{
	display: grid;
	grid-template-columns: 75% 25%;

	height: 80px;
	background-color: rgb(78, 78, 78);
}
.browser-addressBar input{
	width: 350px;
	height: 50px;
	margin-left: 250px;
	border: 3px solid green;
}

.browser-options{
	display: grid;
	grid-template-columns: repeat(3,33.3%);

	border: 3px solid red;
}
.browser-options-green{
	width: 40px;
	height: 40px;
	background-color: green;
	border:  1px solid black;
	border-radius: 25px;
}
.browser-options-yellow{
	width: 40px;
	height: 40px;

	background-color: yellow;
	border:  1px solid black;
	border-radius: 25px;
}
.browser-options-red{
	width: 40px;
	height: 40px;
	background-color: red;
	border:  1px solid black;
	border-radius: 25px;
}














.signIn-v1{
	width: 600px;
	height: 600px;
	margin-top: 20px;
	background-color: rgb(155, 155, 155);
	border: 3px solid black;
	border-radius: 15px;

	text-align: center;
}
.signIn-v1-form form{
	display: grid;
	grid-template-columns: auto;
}
.signIn-v1-form label{
	font-size: 40px;
}
.signIn-v1-form input{
	width: 400px;
	height: 100px;
}
.signIn-v1-form button{
	width: 300px;
	height: 120px;
	background-color: rgba(169, 169, 169, 0.37);
	border: 3px solid black;
	border-radius: 25px;

	font-size: 50px;
	color: white;
}
.signIn-v1-form button:hover{
	background-color: rgba(255, 255, 255, 0.589);

	color: rgb(78, 78, 78);
}
.signIn-v1-links a{
	font-size: 10px;
}

/*####################################*/

.signIn-v2{
	display: grid;
	grid-template-columns: 10%  70% 10% 10%;

	background-color: rgb(155, 155, 155);
	border-bottom: 1px solid black;
}

.signIn-v2-form form{
	font-size: 10px;
}
.signIn-v2-form input{
	width: 200px;
	height: 75px;
}
.signIn-v2-form button{
	width: 50px;
	height: 50px;
	background-color: rgba(76, 136, 52, 0.37);
	border: 1px solid  black;
	border-radius: 25px;
}
.signIn-v2-links a{
	font-size: 10px;
}

/*#############################################################################*/




.STORE{
	margin-top: 100px;
	background-color: rgb(72, 114, 177);
}

.store-nav{
	display: grid;
	grid-template-columns: 20% 80%;

	background-color: rgb(175, 175, 175);
	border:3px solid black;
	color: rgb(0, 0, 0);
}
.store-nav-menu-icon{
	width: 150px;
	height: 150px;

	background-color: rgb(80, 80, 80);
	border: 3px solid black;
	border-radius: 50%;
}
.store-nav-menu-layer-1{
	visibility: hidden;
	position:absolute;
	left: 2%;
	top: 110%;

	width: 300px;
	height: 300px;
	border:1px solid black;
	background-color:green;	
}
.store-nav-title{
	font-size: 50px;
}

.store-catalog{
	border:3px solid black;	
}
.catalog-item-name{
	font-size: 40px;
}
.catalog-item{
	display: grid;
	grid-template-columns: auto auto;

	border-bottom: 3px solid black;
}

.catalog-item-image{
	grid-column: 1/2;
}
.catalog-item-image img{
	width: 300px;
	height: 300px;
}
.catalog-item-description{
	grid-column: 2/3;
	font-size: 40px;
}
.catalog-item-price{
	grid-column: 1/2;
	font-size: 40px;
}
.catalog-item-button button{
	grid-column: 2/3;
	width: 300px;
	height: 150px;
	border-radius: 25px;
	font-size: 30px;
}

.store-cart{
	visibility: hidden;
	position: absolute;
	left: 50%;
	top: 110%;

	width: 450px;
	height: 800px;
	background-color: green;
	border: 1px solid black;
}
.cart-item{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;

	border-bottom: 1px solid black;
}
.cart-item img{
	width: 75px;
	height: 75px;
}
.cart-item-body{
	font-size: 15px;
}
.cart-item input{
	width: 80px;
	height: 20px;
}
.cart-item-remove button{
	width: 35px;
	height: 35px;
	padding: 0;
	border-radius: 25px;

	font-size: 25px;
}

.cart-checkout button{
	width: 100px;
	height: 40px;
}