.project{
	grid-column: 2/3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr;
}
.project-image{
	margin: 3em;
	text-align: center;

	img{
		width: $projects_img_width;
		height: $projects_img_height;
		object-fit: cover;
	
		box-shadow: 0px 5px 5px 1.5px black;
		transition: transform 300ms, box-shadow 300ms;
	}
	img:hover{
		box-shadow: 0px 5px 25px 1.5px black;
	}
}