.nav{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		
		background-color: $nav_bg_color;
	}
	
.nav-main{
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	width: 650px;
}

.nav-main-logo{
	margin-top: .5em;
	margin-left: .5em;

	img{
		width: $nav_logo_img_width;
		height: $nav_logo_img_height;
	
	}
} 

.nav-main-title{
	margin-top: 1em;
	font-family: $nav_title_font;
	color: $nav_title_font_color;
	font-size: $nav_title_font_size;
}

.nav-main-links{

	a{
		font-family: $nav_links_font;
		color: $nav_links_font_color;
		font-size: $nav_links_font_size;
	
		text-decoration: none;
	}
	a:hover{
		color: $nav_links_font_color_hover;
	}
}

.nav-socialMedia{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	column-gap: 50px;

	margin-top: 3em;
	width: 50px;

	img{
		width: $nav_socialMedia_img_width;
		height: $nav_socialMedia_img_width;
	}
}