.profile{
    background-color: $pro_bg_color;
}

.profile-image{
    text-align: center;
}

.profile-name{
    text-align: center;

    font-family: $pro_name_font;
    color: $pro_name_font_color;
    font-size: $pro_name_font_size;
}

.profile-body{
    text-align: center;

    font-family: $pro_body_font;
    color: $pro_body_font_color;
    font-size: $pro_body_font_size;
}

.profile-table-title{
    text-align: center;

    font-family: $pro_table_title_font;
    color: $pro_table_title_font_color;
    font-size: $pro_table_title_font_size;

    
}

.profile-table{ 
    table{
        font-family: $pro_table_font;
        color: $pro_table_font_color;
        font-size: $pro_table_font_size;
    }
}