.nav-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin-left: 1em;
    width: 325px;
}

.nav-main-logo{
    margin-top: -.25em;
    margin-left: 5px;

    img{
        width: $nav_logo_img_width;
        height: $nav_logo_img_height;
    }
}

.nav-main-title{
    margin-left: 25px;
    margin-top: 1em;

    font-family: $nav-title-font;
    color: $nav-title-font-color;
    font-size: $nav_title_font_size;
}

.nav-main-links{
    margin-left: 25px;
    margin-top: .05em;

    a{
        font-family: $nav-links-font;
        color: $nav-links-font-color;
        font-size: $nav_links_font_size;
    
        text-decoration: none;
    }

    a:hover{
        color: $nav-links-font-color_hover;
    }
}