body{
		background-color: $page_bg_color;
	}

.container{
	margin-top: 2%;

	background-color: $container_bg_color;
	border: 1px solid $container_border_color;
}

.content{
	display: grid;
	grid-template-columns: 1fr;

	background-color: $content_bg_color;
}

.album{
	display: grid;
	grid-template-columns: repeat(5, 1fr);

	margin-top: 50px;
	text-align: center;
	background-color: $album_bg_color;
}

.album-image{
	img{
		margin: 1em;
		width: $album_img_width;
		height: $album_img_height;
		object-fit: cover;
	
		box-shadow: 0px 5px 5px 1.5px black;
		transition: transform 500ms, box-shadow 500ms;
	}
}

.album-image:nth-child(3){
	background-color: $album_img_bg_color;
	border: 3px solid  $album_img_border_color;

	img{
		box-shadow: 0px 5px 25px 1.5px black;
		transition: transform 500ms, box-shadow 500ms;
	}
}

.slideshow{
	display: grid;
	grid-template-columns: 100%;

	margin-top: 50px;
}
.slideshow-image{
	margin: 3%;
	text-align: center;

	img{
		width: $slideshow_img_width;
		height: $slideshow_img_height;
		object-fit: cover;
	}
}

.project{
	display: grid;
	grid-template-columns: auto;

	margin-top: 50px;
}
.project-image{
	margin: 2em;
	text-align: center;

	img{
		width: $projects_img_width;
		height: $projects_img_height;
		object-fit: cover;
	
		box-shadow: 0px 5px 5px 1.5px black;
		transition: transform 300ms, box-shadow 300ms;
	}
	img:hover{
		box-shadow: 0px 5px 25px 1.5px black;
	}
}