.category{
    margin: 2em;
}

.category-image{
    text-align: center;

    img{
        width: $cat_image_width;
        height: $cat_image_height;
    }
}

.category-title{
    text-align: center;

    font-family: $cat_title_font;
    color: $cat_title_font_color;
    font-size: $cat_title_font_size;
}

.category-item-label{
    margin-top: 20px;
    text-align: center;
    
    font-family: $cat_item_label_font;
    color: $cat_item_label_font_color;
    font-size:  $cat_item_label_font_size;
}