$breakpoints: (
    "xs": 0px,
    "sm": 1000px,
    "md": 1280px,
    "lg": 1536px,
    "xl": 1920px,
    "xxl": 2100px,
);

@media ( min-width: map-get($breakpoints, "xs") ) and (max-width: map-get($breakpoints, "sm")){
    $query: "xs";
} 

@media ( min-width: map-get($breakpoints, "sm") ) and (max-width: map-get($breakpoints, "md")){
    $query: "sm";
} 

@media ( min-width: map-get($breakpoints, "md") ) and (max-width: map-get($breakpoints, "lg")){
    $query: "md";
} 

@media ( min-width: map-get($breakpoints, "lg") ) and (max-width: map-get($breakpoints, "xl")){
    $query: "lg";
} 

@media ( min-width: map-get($breakpoints, "xl") ) and (max-width: map-get($breakpoints, "xxl")){
    $query: "xl";
}

@media ( min-width: map-get($breakpoints, "xxl") ){
    $query: "xxl";  
} 

