@import '../layer-1-variables/variables_nav';


@media ( min-width: map-get($breakpoints, "xs") ) and (max-width: map-get($breakpoints, "sm")){
	$query: "xs";

    $nav_logo_img_width: map-get($logo_img, $query);
    $nav_logo_img_height: map-get($logo_img, $query);
    
    $nav_title_font_size: map_get($title_font_size, $query);
    $nav_links_font_size: map-get($links_font_size, $query);
    
    $nav_socialMedia_img_width: map-get($socialMedia_img, $query);
    $nav_socialMedia_img_height: map-get($socialMedia_img, $query);

    // segment nav mobile
    @import '../layer-2-segment/_segment_nav_mobile';
} 

@media ( min-width: map-get($breakpoints, "sm") ) and (max-width: map-get($breakpoints, "md")){
	$query: "sm";
	
    $nav_logo_img_width: map-get($logo_img, $query);
    $nav_logo_img_height: map-get($logo_img, $query);
    
    $nav_title_font_size: map_get($title_font_size, $query);
    $nav_links_font_size: map-get($links_font_size, $query);
    
    $nav_socialMedia_img_width: map-get($socialMedia_img, $query);
    $nav_socialMedia_img_height: map-get($socialMedia_img, $query);

    // segment nav head
    @import '../layer-2-segment/_segment_nav_head';
    // segment nav main
    @import '../layer-2-segment/_segment_nav_main';
    // segment social media
    @import '../layer-2-segment/_segment_nav_socialMedia';
} 

@media ( min-width: map-get($breakpoints, "md") ) and (max-width: map-get($breakpoints, "lg")){
	$query: "md";

    $nav_logo_img_width: map-get($logo_img, $query);
    $nav_logo_img_height: map-get($logo_img, $query);
    
    $nav_title_font_size: map_get($title_font_size, $query);
    $nav_links_font_size: map-get($links_font_size, $query);
    
    $nav_socialMedia_img_width: map-get($socialMedia_img, $query);
    $nav_socialMedia_img_height: map-get($socialMedia_img, $query);

    // segment nav head
    @import '../layer-2-segment/_segment_nav_head';
    // segment nav main
    @import '../layer-2-segment/_segment_nav_main';
    // segment social media
    @import '../layer-2-segment/_segment_nav_socialMedia';
} 

@media ( min-width: map-get($breakpoints, "lg") ) and (max-width: map-get($breakpoints, "xl")){
	$query: "lg";

    $nav_logo_img_width: map-get($logo_img, $query);
    $nav_logo_img_height: map-get($logo_img, $query);
    
    $nav_title_font_size: map_get($title_font_size, $query);
    $nav_links_font_size: map-get($links_font_size, $query);
    
    $nav_socialMedia_img_width: map-get($socialMedia_img, $query);
    $nav_socialMedia_img_height: map-get($socialMedia_img, $query);

    // segment nav head
    @import '../layer-2-segment/_segment_nav_head';
    // segment nav main
    @import '../layer-2-segment/_segment_nav_main';
    // segment social media
    @import '../layer-2-segment/_segment_nav_socialMedia';
} 

@media ( min-width: map-get($breakpoints, "xl") ) and (max-width: map-get($breakpoints, "xxl")){
	$query: "xl";  

    $nav_logo_img_width: map-get($logo_img, $query);
    $nav_logo_img_height: map-get($logo_img, $query);
    
    $nav_title_font_size: map_get($title_font_size, $query);
    $nav_links_font_size: map-get($links_font_size, $query);
    
    $nav_socialMedia_img_width: map-get($socialMedia_img, $query);
    $nav_socialMedia_img_height: map-get($socialMedia_img, $query);

    // segment nav head
    @import '../layer-2-segment/_segment_nav_head';
    // segment nav main
    @import '../layer-2-segment/_segment_nav_main';
    // segment social media
    @import '../layer-2-segment/_segment_nav_socialMedia';
} 

@media ( min-width: map-get($breakpoints, "xxl") ){
	$query: "xxl";  

    $nav_logo_img_width: map-get($logo_img, $query);
    $nav_logo_img_height: map-get($logo_img, $query);
    
    $nav_title_font_size: map_get($title_font_size, $query);
    $nav_links_font_size: map-get($links_font_size, $query);
    
    $nav_socialMedia_img_width: map-get($socialMedia_img, $query);
    $nav_socialMedia_img_height: map-get($socialMedia_img, $query);

    // segment nav head
    @import '../layer-2-segment/_segment_nav_head';
    // segment nav main
    @import '../layer-2-segment/_segment_nav_main';
    // segment social media
    @import '../layer-2-segment/_segment_nav_socialMedia';
} 